{% extends 'base-resto.html' %}

{% block title %}
Update Food Item
{% endblock %}
{% load static %}
{% block content %}
<!-- Add Category Content -->
<div class="container-form">
    <form action="{% url 'update_menu_item' menu_item.id %}" method="POST" class="student-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Update Food Item</h4>
        <div class="input-field col s12">
            <select id="id_category" name="category">
                {% for category in categories %}
                    {% if category.id == MenuItem.category.id %}
                        <option value="{{ category.id }}" selected>{{ category.name|upper }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name|upper }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
            <label for="name">Food Name</label>
            <input type="text" id="name" name="name" value="{{ menu_item.name }}">
            <label for="name">description</label>
            <input type="text" id="description" name="description" value="{{ menu_item.description }}">
            <label for="name">Price</label>
            <input type="text" id="price" name="price" value="{{ menu_item.price }}">
            <label for="name">Select Food Image</label>
            <div class="row">
                <div class="col s12 m6">
                    <label for="image">Current Image:</label><br>
                    {% if menu_item.image %}
                        <img src="{{ menu_item.image.url }}" alt="Current Image" class="responsive-img materialboxed" style="max-width: 50%; border: 2px solid black; border-radius: 10px;">
                        <input type="hidden" name="current_image" value="{{ menu_item.image.url }}">
                    {% else %}
                        <img src="{% static 'images/default_image.jpg' %}" alt="No Image" class="responsive-img materialboxed" style="max-width: 50%; border: 2px solid black; border-radius: 10px;">
                    {% endif %}
                </div>
            </div>
            <label for="image">Upload New Image:</label>
            <input type="file" id="image" name="image">
            <br>
            <button type="submit">Update Food ITem</button>
            <button onclick="goBack()">Back</button>
    </form>
</div>
      
<script>
    function goBack() {
        window.history.back();
    }
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
    $(document).ready(function(){
        $('select').formSelect();
      });
</script>

{% endblock %}