{% extends 'admin_base.html' %}
{% include 'admin-sidebar.html' %}
{% block title %}
registered users
{% endblock %}

{% load static %}
{% block content %}
<!-- View Categories Content -->
<div class="container-form">
    <h2>Registered Users</h2>
    <div class="container-dashboard">
        <div class="row">
            <div class="col s12">
                <table class="striped centered bordered" id="courses-table">
                        <thead>
                            <tr>
                                <th >No. #</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th class="text-center">{{ forloop.counter }}</th>
                                <td>{{ user.username|title }}</td>
                                <td>{{ user.email|title }}</td>
                                <td>
                                    <form method="POST" action="{% url 'delete_user' user.id %}" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ user.id}}">
                                        <button type="submit" class="waves-effect waves-light btn red" onclick="return confirm('Are you sure you want to delete this User?')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
  

        {% endblock %}