 
    <div class="sidebar-container">
      <ul id="slide-out" class="sidenav sidenav-fixed custom-sidenav" style="padding-top: 5rem;">
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"></i></a>
          <h3>Menu</h3>
          <li class="active"><a href="{% url 'restaurant' %}">Dashboard</a></li>
          <li><a href="{% url 'view_categories' %}">Category</a></li>
          <li><a href="{% url 'view_menu_items' %}">Menu Items</a></li>
          <li><a href="{% url 'view_orders' %}">Orders</a></li>
          <li><a href="{% url 'restaurant_orders_history' %}">Orders history</a></li>
      </ul>
    </div>
