{% extends 'base-rider.html' %}

{% block title %}
View Orders
{% endblock %}

{% block content %}
<div class="container-form">
    <div class="container-dashboard">
        {% if messages %}
            {% for message in messages %}
            <div id="msg" class="alert {{ message.tags }} text-center" role="alert" style="width: 50%; margin: auto;">
                {{ message }}
            </div>
            <script>
                setTimeout(function() {
                    var msgElement = document.getElementById('msg');
                    if (msgElement !== null) {
                        msgElement.parentNode.removeChild(msgElement);
                    }
                }, 2000);
            </script>
            {% endfor %}
        {% endif %}
        <h2>Orders</h2>
        <div class="row">
            <div class="col s12">
                <table class="striped centered bordered" id="orders-table">
                    <thead>
                        <tr>
                            <th>No. #</th>
                            <th>Customer Name</th>
                            <th>Order Items</th>
                            <th>Order Details</th>
                            <th>Total Amount</th>
                            <th>Order Status</th>
                            <th>Payment Details</th>
                            <th>Payment Status</th>
                            <th>Payment Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if payments %}
                            {% for payment in payments %}
                                {% with order=payment.order %}
                                    {% if not payment.rider_id and order %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ order.customer.first_name|upper }}</td>
                                            <td>
                                                <ul>
                                                    {% for item in order.items %}
                                                        <li>{{ item.name }} - ({{ item.quantity }} x {{ item.price|floatformat:2 }})</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a href="{% url 'rider_order_details' order.id %}" class="waves-effect waves-light btn">Order Details</a>
                                                </td>
                                                <td>&#8369;{{ order.total_amount|floatformat:2 }}</td>
                                                <td class="text-primary">{{ order.status }}</td>
                                                <td>
                                                    <a href="{% url 'rider_payment_details' payment.id %}" class="waves-effect waves-light btn">Payment Details</a>
                                                </td>
                                                <td class="text-warning">{{ payment.payment_status }}</td>
                                                <td>{{ payment.payment_date }}</td>
                                                <td>
                                                    {% if not payment.rider %}
                                                        <button class="waves-effect waves-light btn red" onclick="toggleConfirmation('{{ payment.id }}')">Book Order</button>
                                                        <form id="updateForm_{{ payment.id }}" method="POST" action="{% url 'rider_booked' %}" style="display: none;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="payment_id" value="{{ payment.id }}">
                                                        </form>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="10" class="text-center">No Orders Available.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function goBack() {
            window.history.back();
        }
    
        function toggleConfirmation(paymentId) {
            var confirmation = confirm("Are you sure you want to book this order?");
            if (confirmation) {
                var formId = 'updateForm_' + paymentId;
                document.getElementById(formId).submit();
            }
        }
    </script>
    {% endblock %}
    
